#line 919

.pic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .woman-name {
    color: darkgreen;
    text-align: center;
    margin: auto;
    font-size: 200%;
    background-color: none;
    text-decoration: underline;
  }
  .country {
    background-color: none;
    text-decoration: none;
  }
  .category {
    background-color: none;
    text-decoration: none;
  }
  .role {
    font-stretch: expanded;
    background-color: none;
    text-decoration: none;
  }