---
layout: default
permalink: /skills
title: Oliver C. Stringham - Skills
---

<h1>Skills</h1>


<div class="content">
    Analytical
    Coding

</div>


{% for item in site.skills %}

    <div class="section" id = '{{item.id | remove: "/research/" }}'>
        <div class="container">

            <!-- title -->
            <div class="subtitle has-text-weight-bold" id="researchTitle">
                {{ item.title }}
            </div>

            <div class="columns">

                <!-- image -->
                {% if item.image %}
                <div class="column is-3">
                    <!-- <figure class="image is-128x128"> -->
                    <div class="content">
                        <img class="myImage" src="{{ item.image | prepend: site.url }}">
                    </div>
                     
                    <!-- </figure> -->
                </div>
                {% endif %}

                <!-- description -->
                <div class="column">
                    <div class="is-text">
                        {{ item.content }}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endfor %}
