---
layout: default
title: Oliver C. Stringham - Blog
---




<!-- Blog description -->
<!-- <section class='section'>  -->
	<div class="container mt-5">
		<div class="title is-2 has-text-centered">Blog</div>
	</div>
<!-- </section> -->


<!-- wrap in column to set width -->

<!-- Add in Posts -->
<section class='section'>
	<nav class="columns is-centered">
		<div class="column is-8-widescreen is-10-desktop is-12-tablet is-12-mobile ml-3 has-text-left-mobile">
			<ul>
				{% for post in paginator.posts %}
				<li>
					<div class="box mb-5">
						<!-- <div class="content"> to make bulma css work with markdown ... if I want this here? -->
							<!-- This loops through the paginated posts -->
						<div class='title has-text-info'><a href="{{ post.url }}">{{ post.title }}</a></div>
						<div class="subtitle has-text-grey-light">
							<span class="author">{{ post.author }} | </span>
							<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
						</div>
						<div class="content">
							<div class="is-size-5-mobile is-size-4-tablet">
								{{ post.content }}
							</div>
						</div>
						<!-- </div> -->
					</div>	
				</li>
				<!-- <hr class="solid"> -->
				{% endfor %}
			</ul>
		</div>
	</nav>
</section>



<!-- Add in pagination -->
<div class="container">
<div class="columns pagination is-mobile is-centered is-multiline" role="navigation" aria-label="pagination">

	<div class="column is-center is-full">
		<!-- Previous Button -->
		{% if paginator.previous_page %}
			<a class="pagination-previous" href="{{ paginator.previous_page_path }}">Previous</a>
		{% else %}
			<a class="pagination-previous" disabled>Previous</a>
		{% endif %}

		<!-- Next Button -->
		{% if paginator.next_page %}
			<a class="pagination-next" href="{{ paginator.next_page_path }}">Next page</a>
		{% else %}
			<a class="pagination-next" disabled>Next page</a>
		{% endif %}
	</div>

	<div class="column is-11-mobile is-8-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
		<ul class="pagination-list">

			<!-- First Page -->
			{% if paginator.page > 2 %}
			<li><a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}" 
			aria-label="Goto page 1">1</a></li>
			<li><span class="pagination-ellipsis" id="noMobile">&hellip;</span></li>
			{% endif %}
	
			<!-- Previous Page -->
			{% if paginator.page > 1 %}
				<li><a class="pagination-link" href="{{ paginator.previous_page_path }}"
					aria-label="Goto page {{paginator.page | minus: 1}}">{{paginator.page | minus: 1}}</a></li>
			{% endif %}
	
			<!-- Current page -->
			<li><a class="pagination-link is-current" aria-label="Page {{paginator.page}}" aria-current="page">{{paginator.page}}</a></li>
			
			<!-- Next Page -->
			{% if paginator.page < paginator.total_pages %}
			<li><a class="pagination-link" href="{{ paginator.next_page_path  }}"
				aria-label="Goto page {{paginator.page | plus: 1}}">{{paginator.page | plus: 1}}</a></li>
			{% endif %}
	
	
			<!-- Last Page -->
			{% if paginator.page < paginator.total_pages %}
			<li><span class="pagination-ellipsis" id="noMobile">&hellip;</span></li>
			<li><a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}"
				aria-label="Goto page {{paginator.total_pages}}">{{paginator.total_pages}}</a></li>
			{% endif %}
	
			</ul>

	</div>
</div>

</div>

