---
layout: default
permalink: /publications
title: Oliver C. Stringham - Research
---


PUBLICATIONS
Google Scholar Profile: Oliver C. Stringham

ResearchGate Profile: Oliver C. Stringham


<section class='section'>
    <nav class="columns is-centered">
        <p>Peer review publications</p>
        <div class="column is-7-desktop is-12-tablet is-12-mobile ml-3 has-text-left-mobile">



            

            {% assign publications = site.publications | sort: 'date' | reverse %}
            {% for item in publications %}
            <div class="container">
                <div class="content is-text is-size-6-mobile is-size-5-tablet">
                    {{ item.content }}
                </div>
            </div>

        </div>
    </nav>
</section>


{% endfor %}


Reports

{% assign reports = site.reports | sort: 'date' | reverse %}
{% for item in reports %}
<div class="cont">
    {{ item.content }}
</div>
{% endfor %}

