---
layout: default
permalink: /research
title: Oliver C. Stringham - Research
---


<!-- <div class="section">
    <!-- <div class="container mt-3 ml-3 mr-3"> -->
    <!-- <nav class="columns is-centered">
        <div class="column is-9-desktop is-12-tablet is-12-mobile ml-3 has-text-left-mobile">
            <div class="title has-text-centered">
                Research
            </div>

            <div class="is-text has-text-centered">
                My research interests cover four overlapping categories:
            </div>

            <div class="is-text has-text-centered">
                <ol type='i'>
                    {% for item in site.research %}

                    <li><a href='{{page.permalink}}#{{item.id | remove: "/research/" }}'>{{item.title}}</a></li>

                    {% endfor %}    
                
                </ol>
            </div>
        </div>
    </nav>
</div> --> 

<div class="section">
    <div class="container">
        <h1 class="title is-2 has-text-centered">Research Themes</h1>
    </div>
</div>

<hr>
    <!-- <hr class="solid">  -->
    <!-- </div> -->
<section class='section'>
<nav class="columns is-centered">
    <div class="column is-9-desktop is-12-tablet is-12-mobile ml-3 has-text-left-mobile">

        {% for item in site.research %}

            <br><br><br>

            <div class="conatainer" id = '{{item.id | remove: "/research/" }}'>

                <!-- <div class="container"> -->

                <!-- title -->
                <div class="title has-text-weight-semibold ml-1 has-text-centered" id="researchTitle">
                    {{ item.title }}
                </div>

                <!-- image and description -->
                <div class="columns ml-3 mr-3">

                    <!-- image -->
                    {% if item.image %}
                        <div class="column is-3">
                            <img class="myImage has-tooltip-multiline-right" src="{{ site.url | append: '/' | append: item.image  }}"
                                    data-tooltip="{{ item.image_caption }} Photo by: {{item.image_author}}">

                            <!-- {% if item.image_caption %}
                            <figcaption>{{ item.image_caption }} Photo by: <i>{{item.image_author}}</i></figcaption>
                            {% endif %} -->
                        </div>
                    {% endif %}

                    <!-- description -->
                    <div class="column">
                        <div class="content is-text is-size-6-mobile is-size-5-tablet">
                            {{ item.content }}
                        </div>
                    </div>

                </div>
                <!-- </div> -->
            </div>
        {% endfor %}
    
    </div>
</nav>
</section>
<!-- </div> -->
